graft src

include AUTHORS.rst
include CHANGELOG.rst
include versioneer.py
include README.md
include MANIFEST.in

exclude example.ipynb

prune tests
prune .tox

exclude tox.ini
exclude .gitlab-ci.yml

global-exclude *.py[cod] __pycache__/* *.so *.dylib

